In [22]:
import pandas as pd

df = pd.read_csv("../data/raw/application_train.csv")
df.shape
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
# A) Load & basic stats
print("Rows:", df.shape[0])
print("Columns:", df.shape[1])

# Target distribution (default rate)
print("\nTarget distribution:")
print(df['TARGET'].value_counts(normalize=True).rename('proportion'))

Rows: 307511
Columns: 122

Target distribution:
TARGET
0    0.919271
1    0.080729
Name: proportion, dtype: float64

In [24]:
# B) Missingness
# Missing % per column (top 30)
missing = df.isnull().mean().sort_values(ascending=False) * 100
print("\nTop 30 columns by missingess:")
display(missing.head(30))

Top 30 columns by missingess:

COMMONAREA_MEDI             69.872297
COMMONAREA_AVG              69.872297
COMMONAREA_MODE             69.872297
NONLIVINGAPARTMENTS_MODE    69.432963
NONLIVINGAPARTMENTS_AVG     69.432963
NONLIVINGAPARTMENTS_MEDI    69.432963
FONDKAPREMONT_MODE          68.386172
LIVINGAPARTMENTS_MODE       68.354953
LIVINGAPARTMENTS_AVG        68.354953
LIVINGAPARTMENTS_MEDI       68.354953
FLOORSMIN_AVG               67.848630
FLOORSMIN_MODE              67.848630
FLOORSMIN_MEDI              67.848630
YEARS_BUILD_MEDI            66.497784
YEARS_BUILD_MODE            66.497784
YEARS_BUILD_AVG             66.497784
OWN_CAR_AGE                 65.990810
LANDAREA_MEDI               59.376738
LANDAREA_MODE               59.376738
LANDAREA_AVG                59.376738
BASEMENTAREA_MEDI           58.515956
BASEMENTAREA_AVG            58.515956
BASEMENTAREA_MODE           58.515956
EXT_SOURCE_1                56.381073
NONLIVINGAREA_MODE          55.179164
NONLIVINGAREA_AVG           55.179164
NONLIVINGAREA_MEDI          55.179164
ELEVATORS_MEDI              53.295980
ELEVATORS_AVG               53.295980
ELEVATORS_MODE              53.295980
dtype: float64

In [25]:
# Identify columns >80% missing (flag)
high_missing = missing[missing > 80]
print("\nColumns with >80% missing values:")
display(high_missing)

Columns with >80% missing values:

Series([], dtype: float64)

In [26]:
# C) Duplicates
# Duplicated rows count
print("\nDuplicate rows:", df.duplicated().sum())

# Duplicate SK_ID_CURR count (should be 0)
print("Duplicate SK_ID_CURR:", df['SK_ID_CURR'].duplicated().sum())

Duplicate rows: 0
Duplicate SK_ID_CURR: 0

In [27]:
# D) Simple leakage scan (heuristic)
# Flag columns containing keywords like: TARGET, DEFAULT, OVERDUE, DELINQ, DPD, LATE, PAST_DUE
# Just flag; don't delete blindly.
keywords = ['TARGET', 'DEFAULT', 'OVERDUE', 'DELINQ', 'DPD', 'LATE', 'PAST_DUE']
leakage_cols = [col for col in df.columns if any(k in col.upper() for k in keywords)]
print("\nFlagged potential leakage columns:")
display(leakage_cols)

Flagged potential leakage columns:

['TARGET']

In [28]:
# E) Split strategy recommendation
# Home Credit doesn't have a clean time variable for a perfect time split, so for this project:
# - recommend stratified split and CV
# - document why (governance detail)
print("\nSplit Strategy Recommendation:")
print("Home Credit data lacks a clean time variable for chronological split.")
print("Use stratified train-test split and cross-validation to maintain target balance.")
print("Document this choice for governance and reproducibility.")

Split Strategy Recommendation:
Home Credit data lacks a clean time variable for chronological split.
Use stratified train-test split and cross-validation to maintain target balance.
Document this choice for governance and reproducibility.

In [29]:
# Output reminder
print("\nSave screenshots or exports of:")
print("1. Missingness table")
print("2. Target distribution")
print("3. Flagged leakage columns")
print("4. Conclusion section")

Save screenshots or exports of:
1. Missingness table
2. Target distribution
3. Flagged leakage columns
4. Conclusion section

In [30]:
import os
os.makedirs("../reports", exist_ok=True)

In [31]:
# Save outputs for documentation
missing.head(30).to_csv("../reports/missingness_top30.csv")
df['TARGET'].value_counts(normalize=True).rename('proportion').to_csv("../reports/target_distribution.csv")
pd.Series(leakage_cols, name='flagged_leakage_columns').to_csv("../reports/leakage_columns.csv")

with open("../reports/conclusions.txt", "w") as f:
    f.write("Data Quality Summary\n")
    f.write(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}\n")
    f.write(f"Duplicate rows: {df.duplicated().sum()}\n")
    f.write(f"Duplicate SK_ID_CURR: {df['SK_ID_CURR'].duplicated().sum()}\n")
    f.write("Columns >80% missing saved in missingness_top30.csv\n")
    f.write("Recommended split: Stratified split + cross-validation\n")
    f.write("Reason: No clean time variable, governance consistency\n")

print("Reports saved in ../reports")

Reports saved in ../reports

In [32]:
!python ../src/data_load.py

(307511, 122)
target
0    0.919271
1    0.080729
Name: proportion, dtype: float64

In [33]:
!python ../src/validate.py

Wrote report to /Users/shpresimsadiku/risk-ml/reports/data_quality.json

In [34]:
!python ../src/train.py

Traceback (most recent call last):
  File "/Users/shpresimsadiku/risk-ml/notebooks/../src/train.py", line 10, in <module>
    from src.data_load import load_application_train
ModuleNotFoundError: No module named 'src'

In [35]:
import os
os.chdir("..")

In [36]:
!python -m src.train

/Users/shpresimsadiku/risk-ml/venv/lib/python3.13/site-packages/sklearn/linear_model/_logistic.py:1184: FutureWarning: 'n_jobs' has no effect since 1.8 and will be removed in 1.10. You provided 'n_jobs=1', please leave it unspecified.
  warnings.warn(msg, category=FutureWarning)
Validation ROC-AUC: 0.6341
Validation PR-AUC:  0.1270
Saved model to /Users/shpresimsadiku/risk-ml/reports/baseline_logreg.joblib

In [37]:
!python -m src.evaluate_threshold

Best threshold (FN=5, FP=1): 0.153
Expected cost (units):        23732.0
Precision: 0.203 | Recall: 0.207
Confusion matrix: TN=52486 FP=4052 FN=3936 TP=1029

In [39]:
!python -m src.explain_global

Top 20 features:
                                          feature  importance
             name_education_type_Higher education    0.162120
                                    code_gender_M    0.103959
                         name_income_type_Working    0.082580
name_education_type_Secondary / secondary special    0.076888
                                    code_gender_F    0.054356
                       name_income_type_Pensioner    0.049225
                    name_contract_type_Cash loans    0.037582
               name_contract_type_Revolving loans    0.035013
                                       days_birth    0.031885
               occupation_type_Low-skill Laborers    0.028449
                                    days_employed    0.026195
                      occupation_type_Accountants    0.023694
                                       amt_credit    0.022655
                       occupation_type_Core staff    0.018638
              name_education_type_Lower secondary    0.018359
                                      amt_annuity    0.017599
                      occupation_type_Sales staff    0.014459
            occupation_type_High skill tech staff    0.014104
            name_education_type_Incomplete higher    0.013906
                                  cnt_fam_members    0.013262
Saved: /Users/shpresimsadiku/risk-ml/reports/xgb_feature_importance.csv

In [44]:
!python -m src.permutation_importance

Top 20 permutation importances (PR-AUC drop):
                 feature  importance_mean  importance_std
              amt_credit         0.027794        0.000929
              days_birth         0.021285        0.001234
             amt_annuity         0.017959        0.001270
           days_employed         0.012738        0.000638
     name_education_type         0.011934        0.000801
             code_gender         0.007887        0.000607
      name_contract_type         0.006423        0.000916
        name_income_type         0.004994        0.001091
        amt_income_total         0.004418        0.000743
         cnt_fam_members         0.002387        0.000270
         occupation_type         0.000965        0.000496
     emergencystate_mode         0.000000        0.000000
      wallsmaterial_mode         0.000000        0.000000
   livingapartments_medi         0.000000        0.000000
          totalarea_mode         0.000000        0.000000
          housetype_mode         0.000000        0.000000
      fondkapremont_mode         0.000000        0.000000
obs_30_cnt_social_circle         0.000000        0.000000
def_30_cnt_social_circle         0.000000        0.000000
      nonlivingarea_medi         0.000000        0.000000
Saved: /Users/shpresimsadiku/risk-ml/reports/permutation_importance_pr_auc.csv

In [45]:
!python -m src.explain_local

 sk_id_curr  target  pred_pd  amt_income_total  amt_credit  amt_annuity  days_birth  days_employed name_income_type           name_education_type occupation_type
     143454       1 0.523328           31500.0    585000.0      26892.0      -12403         365243       Unemployed Secondary / secondary special             NaN
     205186       0 0.002496          315000.0   2250000.0     112500.0      -21489         -13195          Working              Higher education        Managers
     452306       0 0.068478          112500.0    450000.0      16294.5      -18162          -6761          Working Secondary / secondary special        Laborers
Saved: /Users/shpresimsadiku/risk-ml/reports/local_examples.csv

In [46]:
!python -m src.fairness_check

F: n=40561 | ROC-AUC=0.651 | PR-AUC=0.126
M: n=20940 | ROC-AUC=0.671 | PR-AUC=0.188